.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #eef2ff, #f8fafc);


  .passwordWrapper {
  position: relative;

  input {
    width: 100%;
    padding-right: 60px;
  }
}

.show {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
  color: #1710d8;
}

.error {
  color: #ef4444;
  font-size: 13px;
  margin-top: 5px;
}

  .card {
    width: 100%;
    max-width: 420px;
    padding: 40px 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease;

    h1 {
      font-size: 28px;
      font-weight: 700;
      color: #0f172a;
      margin-bottom: 10px;
    }

    p {
      color: #64748b;
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      padding: 14px 16px;
      border-radius: 10px;
      border: 1px solid #e2e8f0;
      font-size: 14px;
      outline: none;
      transition: 0.25s;
      background: #fff;

      &:focus {
        border-color: #1710d8;
        box-shadow: 0 0 0 3px rgba(23, 16, 216, 0.1);
      }
    }

    button {
      margin-top: 10px;
      padding: 14px;
      border-radius: 10px;
      border: none;
      background: linear-gradient(135deg, #1710d8, #4338ca);
      color: white;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0 10px 25px rgba(23, 16, 216, 0.3);

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 15px 35px rgba(23, 16, 216, 0.4);
      }
    }
  }

  .footer {
    margin-top: 20px;
    font-size: 12px;
    color: #94a3b8;
  }
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* MOBILE */
@media (max-width: 500px) {
  .login {
    padding: 20px;

    .card {
      padding: 30px 20px;
    }
  }
}