@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

/* PAGE */
.privacy {
 padding-top: 150px;
  background: #f5f5f5;
}

/* HERO */
.hero {
  text-align: center;
  margin-bottom: 40px;

  h1 {
    font-size: 32px;
    font-weight: 700;
  }

  span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: $gray-600;
  }
}

/* CONTENT */
.content {
  max-width: 900px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* HEADINGS */
.content h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

/* PARAGRAPHS */
.content p {
  font-size: 14px;
  color: $gray-700;
  line-height: 1.7;
}

/* LIST */
.content ul {
  padding-left: 20px;

  li {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

/* DESKTOP */
@include respond("laptop") {

  .hero h1 {
    font-size: get-vw(48px);
  }

  .content h2 {
    font-size: get-vw(20px);
  }

  .content p,
  .content li {
    font-size: get-vw(16px);
  }

}